PORT=5000
NODE_ENV=development

# Cấu hình MySQL
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=nhomkinh_huyhoang

# JWT Secret
JWT_SECRET=huyhoang_nhomkinh_secret_key_2026_thoxuan_thanhhoa
JWT_EXPIRES_IN=7d

# URL Cấu hình
CLIENT_URL=http://localhost:5173
BACKEND_URL=http://localhost:5000
